<div class="title-container">
  <h2>Login</h2>
</div>
<div class="form-container">
  <form>
    <div class="form-control">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Digite o seu email">
    </div>
    <div class="form-control">
      <label for="password">Senha</label>
      <input type="password" name="password" placeholder="Digite a sua senha">
    </div>
    <input type="submit" value="Entrar">
    <p class="redirect">Ainda não tem cadastro? <a href="/register">Clique aqui</a></p>
  </form>
</div>