<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- BOOTSTRAP ICONS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/form.css">
  <title>Playlist Compartilhada</title>
</head>
<body>
  <header class="header-container">
    <div class="logo-container">
      <i class="bi bi-play-circle-fill"></i>
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="/">Músicas</a></li>
        {{#if session.userid}}
          <li><a href="/musics/dashboard">Dashboard</a></li>
          <li><a href="/logout">Sair</a></li>
        {{else}}
          <li><a href="/login">Entrar</a></li>
          <li><a href="/register">Registrar</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  {{#if messages.message}}
    <div class="message-container">
      {{messages.message}}
    </div>
  {{/if}}
  <main class="container">
    {{{body}}}
  </main>
  <footer class="footer-container">
    <p><span>Playlist compartilhada</span> - &copy; 2022</p>
  </footer>
</body>
</html>