.header-container {
  display: flex;
  padding: 15px 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.header-container .logo-container i {
  font-size: 3em;
  color: #04D94F;
}

.header-container .navbar ul {
  display: flex;
  align-items: center;
}

.header-container .navbar ul li {
  margin-left: 1.5em;
}

.header-container .navbar ul li:first-child {
  margin: 0;
}

.header-container .navbar ul li a {
  transition: all .2s;
  cursor: pointer;
  font-size: 1em;
}

.header-container .navbar ul li a:hover {
  color: #04D94F;
}

@media screen and (min-width: 1000px) {
  .header-container {
    padding: 15px 100px;
  }

  .header-container .navbar ul li a {
    font-size: 1.2em;
  }
}


